p, div.price_line {
	margin-left: 100px;
	margin-top: 0.5em;
	margin-bottom: 0.8em;
#To move cart button	
	form, div {
		display: inline;
	}
}
// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
